<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="index.css" rel="stylesheet">
    {% seo %}
  </head>
  <body>
    <div class="container-lg py-6">
      <div class="clearfix gutter-md-spacious">
        <div class="float-left col-md-4">
          <img class="width-full" src="me.jpg" alt="Nazim Boudeffa">
          <a href="https://gumroad.com/nazimboudeffa">https://gumroad.com/nazimboudeffa</a>
        </div>
        <div class="float-left col-md-4">
          <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;mode=WEEK&amp;height=200&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=u2n7n82qkpg61fmbl187a0qspo%40group.calendar.google.com&amp;color=%23182C57&amp;src=m4fddlfa9568rijstko3m16he0%40group.calendar.google.com&amp;color=%23691426&amp;src=htfmngtd14h20dctarm94p2ers%40group.calendar.google.com&amp;color=%23B1440E&amp;src=1in4fdiartvoomn4ocht3qaeo4%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=Europe%2FParis" style="border:solid 1px #777" width="640" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="float-left col-md-8">
          <div class="markdown-body">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
